-i https://pypi.org/simple/
alembic==1.5.8
aniso8601==9.0.1
attrs==20.3.0
bcrypt==3.2.0
cffi==1.14.5
click==7.1.2
flask-bcrypt==0.7.1
flask-migrate==2.5.2
flask-restplus==0.12.1
flask-script==2.0.6
flask-sqlalchemy==2.5.1
flask-testing==0.7.1
flask==1.1.2
greenlet==1.0.0 ; python_version >= '3'
importlib-metadata==4.0.0 ; python_version < '3.8'
iniconfig==1.1.1
itsdangerous==1.1.0
jinja2==2.11.3
jsonschema==3.2.0
mako==1.1.4
markupsafe==1.1.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pyjwt==1.7.1
pyparsing==2.4.7
pyrsistent==0.17.3
pytest-flask==0.15.0
pytest==6.2.3
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
six==1.15.0
sqlalchemy==1.4.9
toml==0.10.2
typing-extensions==3.7.4.3 ; python_version < '3.8'
werkzeug==1.0.1
zipp==3.4.1
